<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!contact">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contato</ion-title>
    <ion-buttons end *ngIf="selectedContact">
        <button ion-button icon-only (click)="deleteContact()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Nome Completo</ion-label>
      <ion-input [(ngModel)]="contact.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Cargo</ion-label>
      <ion-input [(ngModel)]="contact.rank"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Empresa</ion-label>
      <ion-input [(ngModel)]="contact.company"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Email</ion-label>
      <ion-input [(ngModel)]="contact.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Telefone</ion-label>
      <ion-input [(ngModel)]="contact.phone" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Data de Nascimento</ion-label>
      <ion-input [(ngModel)]="contact.birthdate" type="date"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <button ion-button full (click)="saveContact()">SALVAR</button>
  </ion-toolbar>
</ion-footer>
